$color-bg: #f5f7f8;
$color-electricG: #39FF14;
$color-secondary: #e4e4e4;
$color-text: #111827;
$color-grey-text: #374151;


// _typography.scss
$font-google: 'Tomorrow', sans-serif;

$weight-small: 100;
$weight-regular: 400;
$weight-bold: 800;

// ----- Breakpoints
$bp-sm: 400px;
$bp-md: 800px;
$bp-lg: 1200px;

