$color-bg: #f5f7f8;
$color-electricG: #39FF14;
$color-secondary: #e4e4e4;
$color-text: #111827;
$color-grey-text: #374151;


// _typography.scss
$font-google: 'Tomorrow', sans-serif;

$weight-small: 100;
$weight-regular: 400;
$weight-bold: 800;

// ----- Breakpoints
$bp-xs: 400px;   // Small phones
$bp-sm: 600px;   // Large phones / small tablets
$bp-md: 900px;   // Tablets
$bp-lg: 1200px;  // Desktop

