@use './variables' as *;

html, body, #root {
    background-color: var(--color-bg);
    background: rgb(41, 40, 40);
    color: var(--color-text);
    font-family: var(--font-sans);
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}