@use 'sass:color';
@use '../styles/variables' as v;

.tabs {
    display: flex;
    justify-content: center;
    margin-block-end: 0;
    margin-block-start: -109px;
    position: relative;
    z-index: 2;

    @media (max-width: v.$bp-lg-down) {
        margin-block-start: -104px;
        transform: scale(0.95);
    }

    @media (max-width: v.$bp-md-down) {
        margin-block-start: -112px;
        transform: scale(1.25);
    }

    @media (max-width: v.$bp-sm-down) {
        margin-block-start: -100px;
        transform: scale(1);
    }

    // intermediate breakpoint
    @media (max-width: 450px) {
        margin-block-start: -90px;
        transform: scale(0.8);
    }

    @media (max-width: v.$bp-xs-down) {
        margin-block-start: -85px;
        transform: scale(0.65);
    }

    transform-origin: center top;

    .tabButtons {
        display: flex;
        gap: 6px;

        @media (max-width: v.$bp-md-down) {
            gap: 5px;
        }

        @media (max-width: v.$bp-sm-down) {
            gap: 4px;
        }

        // intermediate breakpoint
        @media (max-width: 450px) {
            gap: 3px;
        }

        @media (max-width: v.$bp-xs-down) {
            gap: 2px;
        }

        button {
            background-clip: padding-box;
            background: v.$color-secondary;
            border-block-end: none;
            color: #a7a7a7;
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            padding-block: 12px;
            padding-inline: 40px;
            white-space: nowrap;

            @media (max-width: v.$bp-lg-down) {
                font-size: 15px;
                padding-block: 11px;
                padding-inline: 36px;
            }

            @media (max-width: v.$bp-md-down) {
                font-size: 14px;
                padding-block: 10px;
                padding-inline: 32px;
            }

            @media (max-width: v.$bp-sm-down) {
                font-size: 13px;
                padding-block: 9px;
                padding-inline: 28px;
            }

            // intermediate breakpoint
            @media (max-width: 450px) {
                font-size: 12px;
                padding-block: 8px;
                padding-inline: 22px;
            }

            @media (max-width: v.$bp-xs-down) {
                font-size: 11px;
                padding-block: 7px;
                padding-inline: 18px;
            }
            
            overflow: hidden;
            position: relative;
            transform: skewX(-18deg);
            transition: background 0.2s, color 0.2s, box-shadow 0.2s, border-color 0.2s, transform 0.2s;
            z-index: 1;
            
            &::before {
                background: rgba(255,255,255,0.7);
                box-shadow: 0 0 50px 30px #fff;
                content: '';
                display: block;
                height: 100%;
                inset-block-start: 0;
                inset-inline-start: 0;
                opacity: 0;
                position: absolute;
                transform: skewX(-20deg);
                width: 0px;
            }

            &:hover {
                background: v.$color-electricG;
                border-color: v.$color-text;
                color: v.$color-text;
            }

            &:hover::before {
                animation: shineGreen 0.35s linear;
            }

            &.active {
                background: v.$color-bg;
                border-bottom: none;
                border-color: v.$color-text;
                color: v.$color-text;
                inset-block-start: 1px;
            }

            span {
                display: inline-block;
                transform: skewX(18deg);
            }
        }
    }
}

@keyframes shineGreen {
    0% {
        inset-inline-start: 0;
        opacity: 0;
        width: 0;
    }
    20% {
        opacity: 1;
        width: 40%;
    }
    80% {
        inset-inline-start: 60%;
        opacity: 1;
        width: 40%;
    }
    100% {
        inset-inline-start: 100%;
        opacity: 0;
        width: 0;
    }
}

.summaryTitle {
    font-size: 36px;
    font-style: italic;
    margin-block-end: 16px;
    margin-block-start: 44px;
    text-align: center;

    @media (max-width: v.$bp-lg-down) {
        font-size: 33px;
        margin-block-start: 40px;
    }

    @media (max-width: v.$bp-md-down) {
        font-size: 30px;
        margin-block-start: 36px;
    }

    @media (max-width: v.$bp-sm-down) {
        font-size: 27px;
        margin-block-start: 32px;
        margin-block-end: 14px;
    }

    // intermediate breakpoint
    @media (max-width: 450px) {
        font-size: 25px;
        margin-block-start: 30px;
        margin-block-end: 13px;
    }

    @media (max-width: v.$bp-xs-down) {
        font-size: 23px;
        margin-block-start: 28px;
        margin-block-end: 12px;
    }
}

.statList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-block-start: 64px;

    @media (max-width: v.$bp-lg-down) {
        gap: 15px;
        margin-block-start: 56px;
    }

    @media (max-width: v.$bp-md-down) {
        gap: 14px;
        margin-block-start: 48px;
    }

    @media (max-width: v.$bp-sm-down) {
        margin-block-start: 40px;
        gap: 12px;
    }

    // intermediate breakpoint
    @media (max-width: 450px) {
        gap: 11px;
        margin-block-start: 36px;
    }

    @media (max-width: v.$bp-xs-down) {
        gap: 10px;
        margin-block-start: 32px;
    }

    .statSavingItem {
        position: relative;
        text-align: center;

        &::after {
            background: v.$color-electricG;
            border-radius: 2px;
            content: "";
            display: block;
            height: 6px;
            inset-block-end: -6px;
            inset-inline-start: 50%;
            position: absolute;
            transform: translateX(-50%);
            width: 64%;

            @media (max-width: v.$bp-md-down) {
                height: 5px;
                inset-block-end: -5px;
            }

            @media (max-width: 450px) {
                height: 4px;
                inset-block-end: -4px;
            }

            @media (max-width: v.$bp-xs-down) {
                height: 3px;
                inset-block-end: -3px;
            }
        }

        .label,
        .value {
            font-size: 32px;
            font-weight: 800;

            @media (max-width: v.$bp-lg-down) {
                font-size: 30px;
            }

            @media (max-width: v.$bp-md-down) {
                font-size: 28px;
            }

            @media (max-width: v.$bp-sm-down) {
                font-size: 25px;
            }

            // intermediate breakpoint
            @media (max-width: 450px) {
                font-size: 23px;
            }

            @media (max-width: v.$bp-xs-down) {
                font-size: 21px;
            }
        }
    }

    .statItem {
        text-align: center;

        .label { 
            color: v.$color-grey-text;
            font-size: 20px;
            font-weight: 600;

            @media (max-width: v.$bp-lg-down) {
                font-size: 19px;
            }

            @media (max-width: v.$bp-md-down) {
                font-size: 18px;
            }

            @media (max-width: v.$bp-sm-down) {
                font-size: 17px;
            }

            // intermediate breakpoint
            @media (max-width: 450px) {
                font-size: 16px;
            }

            @media (max-width: v.$bp-xs-down) {
                font-size: 15px;
            }
        }

        .value {
            font-size: 24px;
            font-weight: 800;
            padding-inline-start: 3px;

            @media (max-width: v.$bp-lg-down) {
                font-size: 23px;
            }

            @media (max-width: v.$bp-md-down) {
                font-size: 22px;
            }

            @media (max-width: v.$bp-sm-down) {
                font-size: 20px;
            }

            // intermediate breakpoint
            @media (max-width: 450px) {
                font-size: 19px;
            }

            @media (max-width: v.$bp-xs-down) {
                font-size: 18px;
            }
        }
    }
}