@use '../styles/variables' as v;

.selectContainer {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: relative;

	@media (max-width: v.$bp-md-down) {
		gap: 3px;
	}

	@media (max-width: v.$bp-sm-down) {
		gap: 2.5px;
	}

	@media (max-width: v.$bp-xs-down) {
		gap: 2px;
	}

	label {
		font-family: v.$font-google;
		font-weight: v.$weight-regular;
		font-size: 14px;


		@media (max-width: v.$bp-md-down) {
			font-size: 13px;
		}


		@media (max-width: v.$bp-xs-down) {
			font-size: 12px;
		}
	}
}

